.book-index {
    display: flex;
    justify-self: center;
    // align-self: center;
    align-items: center;
    gap: 1em;

    .main-content {
        display: flex;

    }

    .left-side {
        display: flex;

        i {
            cursor: pointer;
            font-size: 2em;
            color: rgb(215, 215, 215);

            &:hover {
                color: rgba(0, 0, 0, 0.514);
            }
        }

        .hidden {
            visibility: hidden;
        }
    }

    .right-side{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}